body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}
span {
  background-image: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-512.png");
  background-position: center;
  background-size: cover;
  pointer-events:none;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: animate 6s linear;
}
@keyframes animate {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
    filter: hue-rotate(0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -3000%);
    filter: hue-rotate(1000deg);
  }
}
